@media(max-width:768px){
    .cards-wrapper{
        grid-template-columns: auto;
    }
}
@media (max-width:480px){
    .main__wrapper{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

