@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-style: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
    font-style: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Medium.ttf);
    font-style: swap;
    font-weight: 500;
}


@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-style: swap;
    font-weight: 400;
}


:root{
    --primary-color:#02A28F;
    --white-color:#fff;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1vw;
}

body{
    font-family: 'Montserrat',sans-serif;
}

header{
    background-color: var(--primary-color);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(15px,3vw,32px);
}

.header-brand{
    font-size: clamp(1rem,3vw,2rem);
}

.header-brand,
.list-link{
    color: var(--white-color);
}