:root{
    --main-color:#02A28F;
    --white-color:#fff;
    --black-color:#000;
    --image-box-color:#D9D9D9;
    --subtitle-color:#616161;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Bold.ttf);
    font-optical-sizing: auto;
    font-style: swap;
    font-weight: 700;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-SemiBold.ttf);
    font-optical-sizing: auto;
    font-style: swap;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Medium.ttf);
    font-optical-sizing: auto;
    font-style: swap;
    font-weight: 500;
}


@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/Montserrat/static/Montserrat-Regular.ttf);
    font-optical-sizing: auto;
    font-style: swap;
    font-weight: 400;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 3vw;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:'Montserrat',sans-serif;
}

header,
.last-news_title,
.famous-wrapper__title,
footer{
    background-color: var(--main-color);
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__wrapper{
    padding: 13px 0;
}



.nav__list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(0.938rem,3vw,2rem);
}

.header-brand{
    font-size: clamp(1rem,3vw,2rem);
    font-weight: 700;
}

.header-brand,
.list-link,
.last-news_title,
.footer__wrapper span,
.famous-wrapper__title{
    color: var(--white-color);
}

.list-link{
    font-size: clamp(0.75rem,3vw,1rem);
    font-weight: 600;
}

.mobile-search-icon{
    display: none;
}

.hero__inner,
.last-news_title,
.card-inner,
.famous-wrapper__title,
.famous-news__image,
.famous-news__cards{
    border-radius: 0.625rem;
}

.main__wrapper{
    display: flex;
    justify-content: space-between;
    gap: clamp(12px,3vw,24px);
    margin: clamp(25px,3vw,50px) 0;
}

.main-content__inner{
    max-width: 744px;
    flex-grow: 1;
}


.hero__inner{
    height: 396px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: var(--image-box-color);
    padding: clamp(18px,3vw,22px) clamp(17px,3vw,24px);
}

.hero-slogan,
.hero-subtitle{
    font-size: 1rem;
}

.hero-title{
    font-size: clamp(1.125rem,3vw,2rem);
}

.last-news_title{
    padding: clamp(9px,3vw,12px) clamp(16px,3vw,22px);
    margin: clamp(19px,5vw,24px) 0;
    font-size: clamp(1rem,3vw,1.25rem);
}

.cards-wrapper{
    display: grid;
    grid-template-columns: auto auto;
    gap: clamp(19px,3vw,24px);
}

.card-inner{
    max-width: 360px;
}

.card-inner,
.famous-news__cards{
    box-shadow: 0px 10px 20px 0px rgba(34, 60, 80, 0.2);
}

.card-image{
    height: 191px;
    width: 100%;
    border-radius: 0.625rem;
    background-color: var(--image-box-color);
}

.card-text-inner{
    padding: 13px ;
}

.card-top-text{
    color:var(--main-color);
}

.card-title{
    font-size: clamp(1.125rem,3vw,1.25rem);
    font-weight: 700;
}

.card-subtitle{
    color: var(--subtitle-color);
    font-size: 0.875rem;
}

.card-text{
    font-size:clamp(0.75rem,3vw,0.875rem);
    margin: clamp(0.75rem,3vw,1rem) 0;
}

.card-date{
    color: var(--subtitle-color);
    font-size: clamp(0.75rem,3vw,0.875rem);
}

.famous-news__wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.famous-news__cards{
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 12px;
    padding: 13px;
}

.famous-wrapper__title{
    margin-bottom: 20px;
    text-align: center;
    padding: 12px 0;
    font-size: clamp(1rem,3vw,1.25rem);
   
}


.famous-news__image{
    background-color: var(--image-box-color);
    width: clamp(64px,50vw,132px);
    height: clamp(51px,50vw,70px);
}


.famous-card-title{
    font-size: clamp(0.75rem,3vw,0.875rem);
}

.famous-card-date{
    font-size: 12px;
}

.footer__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(9px,3vw,17px);
}


